.hover-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white; /* Always visible */
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-cursor: hand;
    -fx-padding: 5;
}

.hover-button:hover {
    -fx-background-color: linear-gradient(
            from 0% 0% to 100% 0%,  /* center to the sides */
            #380e10 0%,
            #7d0b08 30%,
            #7d0b08 70%,
            #380e10 100%
    );
    -fx-border-color: transparent; /* Explicitly keep hidden */
}

.filter-button {
    -fx-background-color:  #17579f;
    -fx-background-radius: 10;
    -fx-text-fill: white; /* Always visible */
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-cursor: hand;
    -fx-padding: 10;
}

.general-filter-button {
    -fx-background-color:  #182430;
    -fx-background-radius: 10;
    -fx-font-family: Segoe UI;
    -fx-font-size: 30;
    -fx-text-fill: white; /* Always visible */
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-cursor: hand;
    -fx-padding: 10;
}

.panel-main {
    -fx-background-color: #060d17;
    -fx-background-radius: 15;
}

.background {
    -fx-background-color: #212934;
}